@*@model IList<project_Zahar_home.Models.RecipeViewModel>*@
@page
<main>
    <section class="catalog">
        <div class="catalog__container container">
            <div class="catalog__body body-catalog">
                <div class="body-catalog__title">Каталог рецептов</div>
                <div class="catalog__head head-catalog">
                    <form asp-controller="Recipes" asp-action = "Filter">
                <div class="head-catalog__filter">
                    @*<button >по популярности</button>*@
                    <form asp-controller="Recipes" asp-action = "FilterAsync">
                        <div class="select" id="food">
                              <button type="button" class="select__toggle" name="ratingOrder" value="" data-select="toggle"
                                 data-index="-1">по рейтингу</button>
                              <div class="select__dropdown">
                                 <ul class="select__options">
                                    <button class="select__option" data-select="option" data-value="food-0" data-index="0" value="1" type="submit" name="ratingOrder">
                                       От меньшего к большему
                                       </button>
                                    <button class="select__option" data-select="option" data-value="food-1" data-index="1" value="0" type="submit" name="ratingOrder">
                                       От большего к меньшему</button>
                                 </ul>
                              </div>
                           </div>
                           </form>
                    
@*                                        <form asp-controller="Recipes" asp-action = "FilterAsync">
                        <div class="select" id="food">
                              <button type="button" class="select__toggle" name="level" value="" data-select="toggle"
                                 data-index="-1">по сложности</button>
                              <div class="select__dropdown">
                                 <ul class="select__options">
                                    <button class="select__option" data-select="option" data-value="food-0" data-index="0" value="1" type="submit" name="ratingOrder">
                                       От меньшего к большему
                                       </button>
                                    <button class="select__option" data-select="option" data-value="food-1" data-index="1" value="0" type="submit" name="ratingOrder">
                                       От большего к меньшему</button>
                                 </ul>
                              </div>
                           </div>
                           </form>*@
                </div>
                   </form>
                <div class="head-catalog__search">
                    <form asp-controller="Recipes" asp-action = "Search" class="search-form">
                        <button class="input" type="submit" value="" id="subscribe_form" name="submit"></button>
                        <input class="search" type="text" name="searchString" placeholder="Введите название..">
                    </form>
                </div>
            </div>
                <div class="body-catalog__content content-catalog">
                    <div class="content-catalog__body body-catalog-menu">
@*                        @if (Model != null)
                        {*@
                            @foreach (var item in ViewBag.rvm)
                            {
                                <a asp-action="Inf_dish" asp-route-id="@item.Key.Dish_Id" class="body-catalog-menu__item item-catalog">
                                    <div class="item-catalog__image">
                                        @foreach (var image in ViewBag.Image)
                                        {
                                        if ((image.Dish_Id == item.Key.Dish_Id) &&(image.Vid == "main"))
                                        {
                                            if (@image.Url == null)
                                            {
                                                <img src="/img/content/salad.png" alt="salad">
                                            }
                                            else{
                                                <img src="@image.Url">
                                            }
                                        }

                                        }
                                    </div>
                                    <div class="item-catalog__info info-catalog">
                                        <div class="item-popular__star">@item.Value.Rating_Value</div>
                                        @*<button class="info-catalog__like"></button>*@
                                    </div>
                                    <div class="item-catalog__name">@item.Key.Name_Dish</div>
                                </a>
                            }
                        @*}*@

                     </div>
                     <form asp-controller="Recipes" asp-action = "Filter" class="content-catalog__sidebar sidebar-catalog">
                        <div class="sidebar-catalog__head head-catalog">
                           <div class="head-catalog__title">Фильтры</div>
                           <button  class="head-catalog__clear">
                               <a asp-action = "Clear">Очистить</a>
                           </button>
                           <button class="input button-reg" type="submit" >Найти</button>
                        </div>
                        <div class="sidebar-catalog__body body-catalog-sidebar">
                           <div class="body-catalog-sidebar__search">

                           </div>
                           <div class="body-catalog__block block-catalog">
                              <div class="block-catalog__title">Каллории</div>
                              <div class="block-catalog__content content-block-catalog">
                                 <div class="price-slider-result">
                                     <input class="first" type="text" value="0" name="calloriesMin" />
                                     <span class="decor"></span>
                                     <input class="second" type="text" value="400" name="calloriesMax" />
                                 </div>
                                 <div class="price-slider"></div>
                              </div>
                           </div>
                           <div class="body-catalog__block block-catalog">
                              <div class="block-catalog__title">Белки, гр</div>
                              <div class="block-catalog__content content-block-catalog">
                                  <div class="price-slider-result">
                                     <input class="first" type="text" value="0" name="proteinMin" />
                                      <span class="decor"></span>
                                     <input class="second" type="text" value="400" name="proteinMax" />
                                  </div>
                                 <div class="price-slider"></div>
                              </div>
                           </div>
                           <div class="body-catalog__block block-catalog">
                              <div class="block-catalog__title">Жиры, гр</div>
                              <div class="block-catalog__content content-block-catalog">
                                  <div class="price-slider-result">
                                     <input class="first" type="text" value="0" name="fatMin" />
                                      <span class="decor"></span>
                                     <input class="second" type="text" value="400" name="fatMax" />
                                  </div>
                                 <div class="price-slider"></div>
                              </div>
                           </div>
                           <div class="body-catalog__block block-catalog">
                              <div class="block-catalog__title">Углеводы, гр</div>
                              <div class="block-catalog__content content-block-catalog">
                                 <div class="price-slider-result">
                                     <input class="first" type="text" value="0" name="carbohydratMin" />
                                      <span class="decor"></span>
                                     <input class="second" type="text" value="400" name="carbohydratMax" />
                                   </div>
                                 <div class="price-slider"></div>
                              </div>
                           </div>
                      
                        </div>
                        <button class="input" type="submit" value="" id="subscribe_form" name="submit"></button>
                     </form>
                  </div>
               </div>
            </div>
         </section>
      </main>